/.SelfCheckoutExperienceRuntimeModule.java._trace
/.SelfCheckoutExperienceStandaloneSetup.java._trace
/.SelfCheckoutExperienceRuntimeModule.xtendbin
/.SelfCheckoutExperienceStandaloneSetup.xtendbin
/SelfCheckoutExperienceRuntimeModule.java
/SelfCheckoutExperienceStandaloneSetup.java
