/.SelfCheckoutExperienceDescriptionLabelProvider.java._trace
/.SelfCheckoutExperienceLabelProvider.java._trace
/.SelfCheckoutExperienceDescriptionLabelProvider.xtendbin
/.SelfCheckoutExperienceLabelProvider.xtendbin
/SelfCheckoutExperienceDescriptionLabelProvider.java
/SelfCheckoutExperienceLabelProvider.java
