/.SelfCheckoutExperienceIdeModule.java._trace
/.SelfCheckoutExperienceIdeSetup.java._trace
/.SelfCheckoutExperienceIdeModule.xtendbin
/.SelfCheckoutExperienceIdeSetup.xtendbin
/SelfCheckoutExperienceIdeModule.java
/SelfCheckoutExperienceIdeSetup.java
